/* Color */
$white = #FFF
$black = #000
$grey-dark = #24292e
$grey-lighter = #f6f8fa
$grey-light = #f4f4f4
$grey-border = #dcddde
$blue-bright = #0366d6
$grey-border-light = #eaecef
$grey = #c6cbd1
$grey-text-disabled = #999
$screen-sm = 992px
$bright-gray = #eaeced

/* font */
$font-family-main = 'Montserrat', sans-serif
$font-icon = FontAwesome, serif
$font-family-code = 'Source Code Pro', monospace, 'Microsoft YaHei'
$border-radius = 3px

$border-grey = 1px solid $grey-border
$border-grey-light = 1px solid $grey-border-light

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n