.post-content
  li
    p
      margin-bottom: 0;
  ol > li > ul
    margin-bottom: 4px;
  > table
    margin-bottom: 16px;

pre
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: normal;
  font-family: $font-family-code
