.toc
  background: #edf6ff;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 32px;

  ul
    list-style: none

    @media (max-width: $screen-sm)
      padding-inline-start: 25px;

  &-anchor
    padding-right: 10px;
